<footer>
    <div class="content">
        <div id="emailsignup">
            <a href="https://www.proxibid.com/" class="footer-logo">Proxibid</a>
            <p>Stay in the know. Receive our weekly newsletter and stay on top of what's available on Proxibid.<br style="margin: 0 0 12px 0;"><a href="//www.proxibid.com/marketingimages/masterblaster.html">View this week's newsletter</a></p>
            <p><a href="http://proxibidcontent.com/email-sign-up" class="btn" style="display:inline-block;">Sign up for our newsletter</a></p>
        </div>
        <div id="helpfullinks">
            <div>
                <p class="category"><a href="http://proxibidcontent.com/about-us/">About us</a></p>
                <ul>
                    <li><a href="https://www.proxibid.com/asp/Help.asp">Help</a></li>
                    <li><a href="https://www.proxibid.com/asp/contactus.asp">Contact us</a></li>
                    <li><a href="http://proxibidcontent.com/leadership/">Leadership</a></li>
                    <li><a href="http://proxibidcontent.com/careers/">Careers</a></li>
                    <li><a href="http://proxibidcontent.com/our-newsroom/">Newsroom</a></li>
              </ul>
            </div>
            <div>
                <p class="category"><a href="http://proxibidcontent.com/buying">Buying</a></p>
                <ul>
                    <li><a href="http://proxibidcontent.com/createaccount">Creating account</a></li>
                    <li><a href="http://proxibidcontent.com/navigating">Searching</a></li>
                    <li><a href="http://proxibidcontent.com/audiovideo">Using audio/video</a></li>
          </ul>
            </div>
            <div class="last">
                <p class="category"><a href="http://proxibidcontent.com/selling">Selling</a></p>
                <a href="https://www.proxibid.com/asp/Auctioneer/AuctioneerHome.asp" class="btn">Seller login</a>
                <ul>
                    <li><a href="https://www.proxibid.com/asp/createSeller.asp?">Apply to sell</a></li>
                    <li><a href="http://proxibidcontent.com/buynow">Buy Now</a></li>
                    <li><a href="http://proxibidcontent.com/auction">Auction</a></li>
           </ul>
            </div>
            
        </div>
      
 
       
    </div>
</footer>